*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.6;
    color: black;
    background-color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: lightgray;
}

h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: monospace;
    margin-bottom: 2 rem;   
}

ul li {
    display: inline-block;
    text-align: right;
}

h1 {
    margin-bottom: 1;
    font-family: monospace;
    font-size: 4rem;
    font-weight: 700;
    padding-block: 12px;
   }

h2 {
    font-family: monospace;
    font-size: 4rem;
    font-weight: 700;
    padding-block: 12px;
    color: black;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
    max-width: 10%;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding-block: 10px; 
}