* {
    font-family:monospace;
}

* {
    text-align: center;
    margin: 3 rem;
}
header {
    font-family: monospace;
}

body {
background-color: lightgrey;
}

section {
    background: white;
}

.img006.jpg {
     width: 50%;
}

img {
    max-width: 50%;
    height: aut0;
}

h3 {
    font-size: 5rem;
}